@charset "UTF-8";
/*
@font-face{font-family:qIcon;src:url(./../font/qIconRegular.ttf) format(truetype),url(./../font/qIconRegular.svg) format(svg);font-style:normal;font-weight:400;}
*/
@font-face {
    font-family: 'qiconregular';
    src: url('./font/qiconregular.eot');
    src: url('./font/qiconregular.eot?#iefix') format('embedded-opentype'),
         url('./font/qiconregular.woff') format('woff'),
         url('./font/qiconregular.ttf') format('truetype'),
         url('./font/qiconregular.svg#qiconregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.icns{display:inline-block;line-height:0;}
.icn,[class^="icn-"],[class*=" icn-"]{font-family:'qiconregular';font-weight:400;font-style:normal;display:inline-block;line-height:1;text-decoration:none;text-align:center;padding:0;margin:0;}

#apptree *{font-size:9pt;}
.icns.i16>*,.icn16{font-size:16px !important;width:16px;height:16px;}
.icns.i20>*,.icn20{font-size:20px !important;width:20px;height:20px;}
.icns.i24>*,.icn24{font-size:24px !important;width:24px;height:24px;}
.icns.i32>*,.icn32{font-size:32px !important;width:32px;height:32px;}
.icns.i48>*,.icn48{font-size:48px !important;width:48px;height:48px;}
.icns.i64>*,.icn64{font-size:64px !important;width:64px;height:64px;}
.icns.i128>*,.icn128{font-size:128px !important;width:128px;height:128px;}
.icns.i256>*,.icn256{font-size:256px !important;width:256px;height:256px;}

.icn-info:before{content:'\f000';}
.icn-warning:before{content:'\f001';}
.icn-thumb-up:before{content:'\f002';}
.icn-thumb-down:before{content:'\f003';}
.icn-finger-right:before{content:'\f004';}
.icn-finger-left:before{content:'\f005';}
.icn-finger-up:before{content:'\f006';}
.icn-finger-down:before{content:'\f007';}
.icn-people:before{content:'\f008';}
.icn-peoples:before{content:'\f009';}
.icn-lockpad:before{content:'\f00a';}
.icn-lockpad-open:before{content:'\f00b';}
.icn-lockpad2:before{content:'\f00c';}
.icn-lockpad2-open:before{content:'\f00d';}
.icn-key:before{content:'\f00e';}
.icn-key2:before{content:'\f00f';}
.icn-key3:before{content:'\f010';}
.icn-home:before{content:'\f011';}
.icn-star:before{content:'\f012';}
.icn-moon:before{content:'\f013';}
.icn-sun:before{content:'\f014';}
.icn-flash:before{content:'\f015';}
.icn-umbrella:before{content:'\f016';}
.icn-rain:before{content:'\f017';}
.icn-cloud:before{content:'\f018';}
.icn-cloud-down:before{content:'\f019';}
.icn-cloud-up:before{content:'\f01a';}
.icn-cloud2-up:before{content:'\f01b';}
.icn-cloud2-down:before{content:'\f01c';}
.icn-folder:before{content:'\f01d';}
.icn-folder-open:before{content:'\f01e';}
.icn-download:before{content:'\f01f';}
.icn-upload:before{content:'\f020';}
.icn-move-right:before{content:'\f021';}
.icn-move-out:before{content:'\f022';}
.icn-move-out2:before{content:'\f023';}
.icn-arrow-nw:before{content:'\f024';}
.icn-arrow-left:before{content:'\f025';}
.icn-arrow-right:before{content:'\f026';}
.icn-arrow-up:before{content:'\f027';}
.icn-arrow-down:before{content:'\f028';}
.icn-forward:before{content:'\f029';}
.icn-backward:before{content:'\f02a';}
.icn-forward-all:before{content:'\f02b';}
.icn-sizing-h:before{content:'\f02c';}
.icn-sizing-v:before{content:'\f02d';}
.icn-explode-plus:before{content:'\f02e';}
.icn-explode-x:before{content:'\f02f';}
.icn-implode:before{content:'\f030';}
.icn-move:before{content:'\f031';}
.icn-diagonal-out:before{content:'\f032';}
.icn-diagonal-in:before{content:'\f033';}
.icn-arrow3-left:before{content:'\f034';}
.icn-arrow3-right:before{content:'\f035';}
.icn-arrow4-right:before{content:'\f036';}
.icn-fork2:before{content:'\f037';}
.icn-arrows-right:before{content:'\f038';}
.icn-arrow2-left:before{content:'\f039';}
.icn-arrow2-right:before{content:'\f03a';}
.icn-reload3:before{content:'\f03b';}
.icn-reload:before{content:'\f03c';}
.icn-reload2:before{content:'\f03d';}
.icn-reload4:before{content:'\f03e';}
.icn-reload5:before{content:'\f03f';}
.icn-reload6:before{content:'\f040';}
.icn-reload7:before{content:'\f041';}
.icn-reload8:before{content:'\f042';}
.icn-nav-down:before{content:'\f043';}
.icn-nav-up:before{content:'\f044';}
.icn-nav-left:before{content:'\f045';}
.icn-nav-right:before{content:'\f046';}
.icn-nav-v:before{content:'\f047';}
.icn-nav2-left:before{content:'\f048';}
.icn-nav2-right:before{content:'\f049';}
.icn-nav3-left:before{content:'\f04a';}
.icn-nav3-right:before{content:'\f04b';}
.icn-nav4-fast-left:before{content:'\f04c';}
.icn-nav4-fast-right:before{content:'\f04d';}
.icn-nav4-fast-up:before{content:'\f04e';}
.icn-nav4-fast-down:before{content:'\f04f';}
.icn-nav4-left:before{content:'\f050';}
.icn-nav4-right:before{content:'\f051';}
.icn-nav4-up:before{content:'\f052';}
.icn-nav4-down:before{content:'\f053';}
.icn-quote-open:before{content:'\f054';}
.icn-quote-close:before{content:'\f055';}
.icn-quote2-open:before{content:'\f056';}
.icn-quote2-close:before{content:'\f057';}
.icn-balloon-circle:before{content:'\f058';}
.icn-balloon-h:before{content:'\f059';}
.icn-balloon:before{content:'\f05a';}
.icn-balloons:before{content:'\f05b';}
.icn-balloon2:before{content:'\f05c';}
.icn-balloons2:before{content:'\f05d';}
.icn-plus:before{content:'\f05e';}
.icn-min:before{content:'\f05f';}
.icn-check:before{content:'\f060';}
.icn-x:before{content:'\f061';}
.icn-circle-plus:before{content:'\f062';}
.icn-circle-min:before{content:'\f063';}
.icn-circle-x:before{content:'\f064';}
.icn-circle-check:before{content:'\f065';}
.icn-circle-quest:before{content:'\f066';}
.icn-circle-info:before{content:'\f067';}
.icn-circle-warning:before{content:'\f068';}
.icn-circle-left:before{content:'\f069';}
.icn-circle-right:before{content:'\f06a';}
.icn-circle-up:before{content:'\f06b';}
.icn-circle-down:before{content:'\f06c';}
.icn-circle-lr:before{content:'\f06d';}
.icn-circle-ud:before{content:'\f06e';}
.icn-circle-expand:before{content:'\f06f';}
.icn-circle-nav-right:before{content:'\f070';}
.icn-circle-stroke-check:before{content:'\f071';}
.icn-circle-stroke-x:before{content:'\f072';}
.icn-circle-stroke-down:before{content:'\f073';}
.icn-circle-stroke-up:before{content:'\f074';}
.icn-circle-stroke-nav:before{content:'\f075';}
.icn-forbidden:before{content:'\f076';}
.icn-circle-stroke:before{content:'\f077';}
.icn-circle:before{content:'\f078';}
.icn-play:before{content:'\f079';}
.icn-pause:before{content:'\f07a';}
.icn-stop:before{content:'\f07b';}
.icn-eject:before{content:'\f07c';}
.icn-backward:before{content:'\f07d';}
.icn-forwad:before{content:'\f07e';}
.icn-begin:before{content:'\f07f';}
.icn-fast-backward:before{content:'\f080';}
.icn-fast-forward:before{content:'\f081';}
.icn-end:before{content:'\f082';}
.icn-eq:before{content:'\f083';}
.icn-mic:before{content:'\f084';}
.icn-earphone:before{content:'\f085';}
.icn-earphone2:before{content:'\f086';}
.icn-speaker:before{content:'\f087';}
.icn-speake-min:before{content:'\f088';}
.icn-speaker-max:before{content:'\f089';}
.icn-cd:before{content:'\f08a';}
.icn-movie:before{content:'\f08b';}
.icn-visual:before{content:'\f08c';}
.icn-signal:before{content:'\f08d';}
.icn-sgnal2:before{content:'\f08e';}
.icn-rss:before{content:'\f08f';}
.icn-badge1:before{content:'\f090';}
.icn-badge2:before{content:'\f091';}
.icn-badge:before{content:'\f092';}
.icn-badges:before{content:'\f093';}
.icn-badge3:before{content:'\f094';}
.icn-pack:before{content:'\f095';}
.icn-pack2:before{content:'\f096';}
.icn-dock-half:before{content:'\f097';}
.icn-doc:before{content:'\f098';}
.icn-doc2:before{content:'\f099';}
.icn-cut:before{content:'\f09a';}
.icn-copy:before{content:'\f09b';}
.icn-save:before{content:'\f09c';}
.icn-archive:before{content:'\f09d';}
.icn-mail:before{content:'\f09e';}
.icn-recyclebin:before{content:'\f09f';}
.icn-recyclebin2:before{content:'\f0a0';}
.icn-recyclebin3:before{content:'\f0a1';}
.icn-search:before{content:'\f0a2';}
.icn-zoom:before{content:'\f0a3';}
.icn-zoom-out:before{content:'\f0a4';}
.icn-a:before{content:'\f0a5';}
.icn-bold:before{content:'\f0a6';}
.icn-i:before{content:'\f0a7';}
.icn-text-height:before{content:'\f0a8';}
.icn-text-width:before{content:'\f0a9';}
.icn-align-left:before{content:'\f0aa';}
.icn-align-center:before{content:'\f0ab';}
.icn-align-right:before{content:'\f0ac';}
.icn-align-justify:before{content:'\f0ad';}
.icn-numbering:before{content:'\f0ae';}
.icn-dedent:before{content:'\f0af';}
.icn-indent:before{content:'\f0b0';}
.icn-paragraf:before{content:'\f0b1';}
.icn-image:before{content:'\f0b2';}
.icn-movie2:before{content:'\f0b3';}
.icn-sound:before{content:'\f0b4';}
.icn-print:before{content:'\f0b5';}
.icn-cam-movie:before{content:'\f0b6';}
.icn-cam:before{content:'\f0b7';}
.icn-book:before{content:'\f0b8';}
.icn-book1:before{content:'\f0b9';}
.icn-book2:before{content:'\f0ba';}
.icn-book3:before{content:'\f0bb';}
.icn-mail2:before{content:'\f0bc';}
.icn-gear:before{content:'\f0bd';}
.icn-config:before{content:'\f0be';}
.icn-network:before{content:'\f0bf';}
.icn-link:before{content:'\f0c0';}
.icn-promote:before{content:'\f0c1';}
.icn-picasa:before{content:'\f0c2';}
.icn-globe:before{content:'\f0c3';}
.icn-loading:before{content:'\f0c4';}
.icn-win-tile:before{content:'\f0c5';}
.icn-win-cascade:before{content:'\f0c6';}
.icn-pencil:before{content:'\f0c7';}
.icn-pen:before{content:'\f0c8';}
.icn-pen2:before{content:'\f0c9';}
.icn-eraser:before{content:'\f0ca';}
.icn-box-edit:before{content:'\f0cb';}
.icn-box-check:before{content:'\f0cc';}
.icn-maaget:before{content:'\f0cd';}
.icn-battery-full:before{content:'\f0ce';}
.icn-battery-normal:before{content:'\f0cf';}
.icn-battery-empty:before{content:'\f0d0';}
.icn-battery-charging:before{content:'\f0d1';}
.icn-call:before{content:'\f0d2';}
.icn-box-call:before{content:'\f0d3';}
.icn-megaphone:before{content:'\f0d4';}
.icn-train:before{content:'\f0d5';}
.icn-plane:before{content:'\f0d6';}
.icn-bell:before{content:'\f0d7';}
.icn-restaurant:before{content:'\f0d8';}
.icn-wine:before{content:'\f0d9';}
.icn-coffee:before{content:'\f0da';}
.icn-eye:before{content:'\f0db';}
.icn-eye-no:before{content:'\f0dc';}
.icn-harddisc:before{content:'\f0dd';}
.icn-harddisc-open:before{content:'\f0de';}
.icn-media-wide:before{content:'\f0df';}
.icn-media-normal:before{content:'\f0e0';}
.icn-media-tablet:before{content:'\f0e1';}
.icn-media-phone:before{content:'\f0e2';}
.icn-clock:before{content:'\f0e3';}
.icn-compass:before{content:'\f0e4';}
.icn-pin1:before{content:'\f0e5';}
.icn-pin2:before{content:'\f0e6';}
.icn-pin3:before{content:'\f0e7';}
.icn-pin4:before{content:'\f0e8';}
.icn-pin5:before{content:'\f0e9';}
.icn-pin6:before{content:'\f0ea';}
.icn-drop:before{content:'\f0eb';}
.icn-wheel:before{content:'\f0ec';}
.icn-eye2:before{content:'\f0ed';}
.icn-target:before{content:'\f0ee';}
.icn-target2:before{content:'\f0ef';}
.icn-chart:before{content:'\f0f0';}
.icn-chart2:before{content:'\f0f1';}
.icn-chart3:before{content:'\f0f2';}
.icn-chart4:before{content:'\f0f3';}
.icn-cart:before{content:'\f0f4';}
.icn-qr:before{content:'\f0f5';}
.icn-barcode:before{content:'\f0f6';}
.icn-card:before{content:'\f0f7';}
.icn-card2:before{content:'\f0f8';}
.icn-money:before{content:'\f0f9';}
.icn-gift:before{content:'\f0fa';}
.icn-return:before{content:'\f0fb';}
.icn-heart:before{content:'\f0fc';}
.icn-flag:before{content:'\f0fd';}
.icn-power3:before{content:'\f0fe';}
.icn-power2:before{content:'\f0ff';}
.icn-power1:before{content:'\f100';}
.icn-doctor:before{content:'\f101';}
.icn-stetoscope:before{content:'\f102';}
.icn-medic:before{content:'\f103';}
.icn-box-plus:before{content:'\f104';}
.icn-box-min:before{content:'\f105';}
.icn-box-x:before{content:'\f106';}
.icn-chemical:before{content:'\f107';}
.icn-leaf:before{content:'\f108';}
.icn-fire:before{content:'\f109';}
.icn-industry:before{content:'\f10a';}
.icn-flex4:before{content:'\f10b';}
.icn-flex9:before{content:'\f10c';}
.icn-flex-r:before{content:'\f10d';}
.icn-badge2:before{content:'\f10e';}
.icn-badge-plus:before{content:'\f10f';}
.icn-badge-min:before{content:'\f110';}
.icn-star-plus:before{content:'\f111';}
.icn-star-min:before{content:'\f112';}
.icn-fork:before{content:'\f113';}
.icn-fork-lock:before{content:'\f114';}
.icn-fork-commit:before{content:'\f115';}
.icn-fork-brach:before{content:'\f116';}
.icn-fork-plus:before{content:'\f117';}
.icn-fork-x:before{content:'\f118';}
.icn-paper-plane:before{content:'\f119';}
.icn-vu:before{content:'\f11a';}
.icn-cone:before{content:'\f11b';}
.icn-religion1:before{content:'\f11c';}
.icn-religion2:before{content:'\f11d';}
.icn-religion3:before{content:'\f11e';}
.icn-religion4:before{content:'\f11f';}
.icn-religion5:before{content:'\f120';}
.icn-religion6:before{content:'\f121';}
.icn-religion7:before{content:'\f122';}
.icn-religion8:before{content:'\f123';}
.icn-firefox:before{content:'\f200';}
.icn-chrome:before{content:'\f201';}
.icn-opera:before{content:'\f202';}
.icn-ie:before{content:'\f203';}
.icn-brand1:before{content:'\f204';}
.icn-brand2:before{content:'\f205';}
.icn-fb:before{content:'\f206';}
.icn-fb2:before{content:'\f207';}
.icn-twitter:before{content:'\f208';}
.icn-twitter2:before{content:'\f209';}
.icn-twitter3:before{content:'\f20a';}
.icn-icq:before{content:'\f20b';}
.icn-brand3:before{content:'\f20c';}
.icn-brand4:before{content:'\f20d';}
.icn-git:before{content:'\f20e';}
.icn-github:before{content:'\f20f';}
.icn-git2:before{content:'\f210';}
.icn-github2:before{content:'\f211';}
.icn-gplus:before{content:'\f212';}
.icn-gplus2:before{content:'\f213';}
.icn-brand-b:before{content:'\f214';}
.icn-skype:before{content:'\f215';}
.icn-brand5:before{content:'\f216';}
.icn-brand6:before{content:'\f217';}
.icn-vimeo:before{content:'\f218';}
.icn-vimeo2:before{content:'\f219';}
.icn-tumblr:before{content:'\f21a';}
.icn-tumblr2:before{content:'\f21b';}
.icn-friendfeed:before{content:'\f21c';}
.icn-friendfeed2:before{content:'\f21d';}
.icn-blogspot:before{content:'\f21e';}
.icn-blogspot2:before{content:'\f21f';}
.icn-brand11:before{content:'\f220';}
.icn-brand12:before{content:'\f221';}
.icn-lastfm:before{content:'\f222';}
.icn-lastfm2:before{content:'\f223';}
.icn-linkedin:before{content:'\f224';}
.icn-linkedin2:before{content:'\f225';}
.icn-picasa:before{content:'\f226';}
.icn-wordpress:before{content:'\f227';}
.icn-brand14:before{content:'\f228';}
.icn-brand15:before{content:'\f229';}
.icn-brand16:before{content:'\f22a';}
.icn-brand17:before{content:'\f22b';}
.icn-flickr:before{content:'\f22c';}
.icn-brand19:before{content:'\f22d';}
.icn-brand20:before{content:'\f22e';}
.icn-dropbox:before{content:'\f22f';}
.icn-brand21:before{content:'\f230';}
.icn-paypall:before{content:'\f231';}
.icn-brand22:before{content:'\f232';}
.icn-brand23:before{content:'\f233';}
.icn-brand24:before{content:'\f234';}
.icn-brand25:before{content:'\f235';}
.icn-meebo:before{content:'\f236';}
.icn-brand26:before{content:'\f237';}
.icn-apple:before{content:'\f238';}
.icn-windows:before{content:'\f239';}
.icn-windows2:before{content:'\f23a';}
.icn-bb:before{content:'\f23b';}
.icn-iphone:before{content:'\f23c';}
.icn-android:before{content:'\f23d';}
